.forTextInput {
    position: relative;

    >input {
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid gainsboro;
        border-radius: 8px;
    }

    input:active + label, input:focus + label {
        background-color: red;
    }

    >label {
        font-size: 12px;
        position: absolute;
        top: -8px;
        left: 10px;
        background-color: white;
        padding: 0 5px;
    }

}