* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
margin: 0;
height: inherit;
width: inherit;
}


#__next {
height: inherit;
width: inherit;
}

a {
color: inherit;
}

input[type="text"] {
    font-size: inherit;
  }